/*  your css code here. If applicable */
#grid{
	display: grid;
	grid-template-columns: repeat(4,242.5px);
	grid-template-rows: repeat(5, 124px);
	gap: 10px;
}
div{
	background-color : green;
	color: white;
	font-size: 40px;
}
#grid>div:nth-child(1){
	grid-column: span 4 / auto;
}
#div-1{
	grid-column: span 4 / auto;
}
#div-2{
	grid-row: span 4 / auto;
}
#div-4{
	grid-column: span 2 / auto;
}
#div-5{
	grid-column:  span 2 / auto;
}
#div-10{
	grid-column: span 3 / auto;
}
