/*  your css code here. If applicable */
#grid{
	display: grid;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
	grid-template-rows: repeat(5, 124px);
	gap: 5px;
}
div{
	background-color : green;
}
#grid>div:nth-child(1){
	grid-column: span 4 / auto;
}