/*  your css code here. If applicable */
#grid{
	display: grid;
	grid-template-columns: repeat(4,242.5px);
	grid-template-rows: repeat(5, 124px);
	gap: 10px;
}
div{
	background-color : green;
}
#div-1{
	grid-column: 1 / -1;
}
#div-2{
	grid-row: 2 / -1;
}
#div-4{
	grid-column: 3 / -1;
}
#div-5{
	grid-column:  2/ 4;
}
#div-10{
	grid-column: 2 / -1;
}
